.span12
  %ul.breadcrumb{:style => 'margin:-20px 0 0 0px;'}
    %li
      %a{:href => '/'} 首页
      %span.divider /
    %li
      %a{:href => category_map_path} 分类导航
      %span.divider /
    - if @category.level == 1
      %li.active= @category.name
    - else 
      - parent = Category.find_by_id @category.parent_id
      %li
        %a{:href => "/category/#{parent.id}"}= parent.name
        %span.divider /
      %li.active= @category.name

.span11{:style => 'margin:0px;'}
  - if @category.level == 1
    - sub = Category.where(:parent_id => @category.id).all
  - else
    - sub = Category.where(:parent_id => @category.parent_id).all
  %table
    %tr
      %td
        - sub.each do |s|
          - if s.id == @category.id
            %a.pull-left.label.label-success{:style => 'margin:5px;', :href => "/category/#{s.id}"}= s.name
          - else 
            %a.pull-left.label{:style => 'margin:5px;', :href => "/category/#{s.id}"}= s.name

.span12{:style => 'margin:20px 0 0 0 ;'}
  %ul.thumbnails{:style => 'margin:0px;'}
    - @products.each do |p|
      = render :partial => 'shared/product', :locals => {:p => p}
.pull-right= will_paginate @products, :renderer => BootstrapPagination::Rails
      

