
.span10
  %ul.nav.nav-tabs
    %li.active
      %a{:name => "#{c.name}"}= c.name
    - sub = Category.where(:parent_id => c.id).limit(5)
    - ids = [c.id,]
    - sub.each do |s|
      - ids << s.id;
      %li
        %a{:href => '#'}= s.name
    %a.pull-left{:href => '#', :style => 'line-height:35px;'}
      %span.label.label-success 更多
.span12
  %ul.thumbnails
    - products = Product.where('category_id in (?)', ids).limit(12).order('volume desc')
    - products.each do |p|
      %li{:style => 'width:195px;margin:0 15px;padding:5px;display:block;'}
        %a{:target => '_blank', :style => 'border:none;width:195px;', :href => "/go/product/#{p.id}"}
          %img.img-rounded.lazy{:'src' => '', :'data-original' => "#{p.pic_url}_220x220.jpg", :alt => "#{p.title}", :style => 'width:195px;height:195px;'}
        %small.pull-right{:style => 'margin:5px 0 0 25px;width:195px;'}
          %a{:href => "/go/product/#{p.id}", :target => '_blank'}= p.title
        %h6.pull-left{:style => 'color:red;padding-right:3px;'}= "￥#{p.coupon_price}"
        %h6.pull-left{:style => 'color:#333;text-decoration:line-through;'}= "￥#{p.price} "
        %h4.pull-right
          %a{:href => 'javascript:void(0)'}
            %i.icon-home
        %h4.pull-right
          %a{:href => 'javascript:void(0)', :style => 'color:orangered;'}
            %i.icon-star-empty
        %h4.pull-right
          %a{:href => 'javascript:void(0)', :style => 'color:#46a546'}
            %i.icon-shopping-cart

