.span10
  %ul.thumbnails
    %li
      %a.thumbnail{:style => 'border:none', :href => @top.click_url}
        %img{:alt => @top.title, :src => @top.pic_url, :style => 'width:420px;height:420px;'}
      %small.pull-right{:style => 'margin:0 15px;width:200px;'}
        %a{:href => @top.click_url, :target => '_blank'}= @top.title
      %a.love.pull-left{:style => 'color:red;font-size:30px', :href => 'javascript:void(0)'}
        %i.icon-heart{:style => 'margin:0 15px;'}
      %h4.pull-left{:style => 'color:#333;text-decoration:line-through;'}= "￥ #{@top.price}"
      %h4.pull-left{:style => 'color:red'}= "￥ #{@top.coupon_price}"
    %li
      %a.thumbnail
        %img{:'data-src' => "holder.js/180x180", :alt => ""}
    %li
      %a.thumbnail
        %img{:'data-src' => "holder.js/180x180", :alt => ""}
    %li
      %a.thumbnail
        %img{:'data-src' => "holder.js/180x180", :alt => ""}
    %li
      %a.thumbnail
        %img{:'data-src' => "holder.js/180x180", :alt => ""}

.span2
  %ul.nav.nav-tabs.nav-stacked
    %li.active
      %a{:href => '#'} home
    %li
      %a{:href => '#'} profile
    %li
      %a{:href => '#'} demo
    %li
      %a{:href => '#'} test

.span12
  %ul.nav.nav-tabs
    %li.active
      %a{:href => '#'} home
    %li
      %a{:href => '#'} demo
  .span12
    %ul.thumbnails
      %li
        %a.thumbnail
          %img{:'data-src' => "holder.js/180x180", :alt => ""}
      %li
        %a.thumbnail
          %img{:'data-src' => "holder.js/180x180", :alt => ""}
      %li
        %a.thumbnail
          %img{:'data-src' => "holder.js/180x180", :alt => ""}
      %li
        %a.thumbnail
          %img{:'data-src' => "holder.js/180x180", :alt => ""}
      %li
        %a.thumbnail
          %img{:'data-src' => "holder.js/180x180", :alt => ""}
      %li
        %a.thumbnail
          %img{:'data-src' => "holder.js/180x180", :alt => ""}
      %li
        %a.thumbnail
          %img{:'data-src' => "holder.js/180x180", :alt => ""}
      %li
        %a.thumbnail
          %img{:'data-src' => "holder.js/180x180", :alt => ""}
      %li
        %a.thumbnail
          %img{:'data-src' => "holder.js/180x180", :alt => ""}
      %li
        %a.thumbnail
          %img{:'data-src' => "holder.js/180x180", :alt => ""}


.span12
  %ul.nav.nav-tabs
    %li.active
      %a{:href => '#'} home
    %li
      %a{:href => '#'} demo
  .span10
    %ul.thumbnails
      %li
        %a.thumbnail
          %img{:'data-src' => "holder.js/180x180", :alt => ""}
      %li
        %a.thumbnail
          %img{:'data-src' => "holder.js/180x180", :alt => ""}
      %li
        %a.thumbnail
          %img{:'data-src' => "holder.js/180x180", :alt => ""}
      %li
        %a.thumbnail
          %img{:'data-src' => "holder.js/180x180", :alt => ""}
      %li
        %a.thumbnail
          %img{:'data-src' => "holder.js/180x180", :alt => ""}
      %li
        %a.thumbnail
          %img{:'data-src' => "holder.js/180x180", :alt => ""}
      %li
        %a.thumbnail
          %img{:'data-src' => "holder.js/180x180", :alt => ""}
      %li
        %a.thumbnail
          %img{:'data-src' => "holder.js/180x180", :alt => ""}
