.span12
  .span10{:style => 'margin-top:-20px;'}
    %ul.thumbnails
      %li{:style => 'width:450px;margin:0 15px;padding:5px;display:block;'}
        %span.label.label-success 热销
        = render :partial => 'top'
      = render :partial => 'sub'
  
  .span2
    %span.label.label-info 美食分类
    %ul.nav.nav-tabs.nav-stacked
      - @categories.each do |c|
        %li
          %a{:href => "/category/#{c.id}"}= "<i class='icon-bookmark'></i>#{c.name}".html_safe

- @categories.each do |c|
  = render :partial => 'category', :locals => {:c => c}

