.span12
  %a.pull-right.btn.btn-mini.btn-success{:href => admin_setting_new_path}
    %i.icon-plus
    新建配置
%table#admin_setting.table.table-bordered
  %thead
    %tr
      %th
        %small ID
      %th 
        %small 键名
      %th
        %small 键值
      %th
        %small 命名空间
      %th{:style => 'width:200px;'} Ops
  %tbody
    - @settings.each do |s|
      %tr
        %td
          %small= s.id
        %td
          %small= s.key
        %td
          %small= s.value
        %td
          %small= s.namespace
        %td
          %a.btn.btn-mini.btn-danger.op{:href => 'javascript:void(0)', :'data-id' => s.id, :'data-op' => 'delete'}
            %i.icon-remove
            删除

.pull-right= will_paginate @settings
