!!! 5
%html{:lang => 'en'}
  %head
    = render 'shared/head'
  %body
    .container
      = render 'shared/nav'
      #body.container
        = bootstrap_flash 
        #content.row-fluid
          = yield
        
        = render 'shared/footer'
      = javascript_include_tag "application"
